textarea {
    min-height: 400px;
}

#mailbox-container{
    border-top: 1px solid #d8d8d8;
}

.read{
    background: #eee;
    border: 1px solid #d8d8d8;
    border-width: 0px 1px 1px 1px;
}

#reader-body{
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    white-space: pre-wrap;
}

#reader-splitter{
    background: #eee;
}

#reader-command-row{
    margin-top: 0.8rem;
}

.my-btn{
    width: 100%;
    min-width: 4rem;
}

#send-email-btn{
    margin-top: 0.5rem;
}
